@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

@theme {
    --breakpoint-xs: 23.438rem;
    --breakpoint-llg: 81.25rem;
}

@theme{
    --font-poppins: "Poppins", sans-serif;
}
